{{ form_start(form, {'attr': {'class': 'row'}}) }}

    <div class="input-field col s12 m6 l6">
        {{ form_widget(form.name, {'attr': {'placeholder': 'Nom catégorie'}}) }}
        {{ form_label(form.name) }}
    </div>

    <div class="input-field col s12 m12 l12">
        <input type="submit" name="" value="Enregistrer" class="btn btn-primary">
    </div>
{{ form_end(form) }}